body {
    background-image: url("../../img/fond.webp");
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1 {
    text-align: center;
    color: $colour-green;
}
.previous {
    @include button(previous, $colour-blue);
    margin-left: 5rem;
}
.next {
    @include button(next, $colour-red);
    margin-right: 5rem;
}
.carousel {
    grid-area: carousel;
    & img{
        border-radius: 5%;
    }
}

@include for-phone-portrait {
    section {
        display: grid;
        grid-template-columns: repeat(3), 1fr;
        grid-template-rows: repeat(3) 1fr;
        grid-template-areas: 
        ". carousel . "
        "previous carousel next"
        ". carousel ."
        ;
        & .previous {
            margin-left: 2rem;
        }
        & .next {
            margin-right: 2rem;
        }
        & .previous, & .next {
            font-size: 0.5rem;
        }
        & .carousel {
            margin: auto;
            width: 100%;
            padding: 0;
            & img {
                width: 100%;
            }
        }
    }

}
@include for-phone-paysage-and-tablet-portrait {
    section {
        display: grid;
        grid-template-columns: repeat(3), 1fr;
        grid-template-rows: repeat(3) 1fr;
        grid-template-areas: 
        ". carousel . "
        "previous carousel next"
        ". carousel ."
        ;
        & .previous, & .next{
            font-size: 0.65rem;
        }
        & .carousel {
            margin: auto;
            width: 95%;
            padding: 0;
            & img{
                width: 100%;
            }
        }
    }

}

@include for-tablet-portrait {
    section {
        display: grid;
        grid-template-columns: repeat(3), 1fr;
        grid-template-rows: repeat(3) 1fr;
        grid-template-areas: 
        ". carousel . "
        "previous carousel next"
        ". carousel ."
        ;
        & .carousel {
            margin: auto;
            width: 90%;
            padding: 0;
            & img{
                width: 100%;
            }
        }
    }

}
@include for-desktop {
    section {
        display: grid;
        grid-template-columns: repeat(5), 1fr;
        grid-template-rows: repeat(5) 1fr;
        grid-template-areas: 
        ". . carousel . ."
        ". previous carousel next ."
        ". . carousel . ."
        ;
        & .carousel {
            margin: auto;
            width: 95%;
            padding: 0;
            & img{
                width: 100%;
            }
        }
    }
}